td {
  vertical-align: middle;
}

.dwec {
  background-color: #74530B !important;
}

.dwes {
  background-color: darkblue !important;
}

.diw {
  background-color: darkgreen !important;
}

.daw {
  background-color: darkred !important;
}

.eie {
  background-color: #595959 !important;
}

.ang {
  background-color: #006061 !important;
}

.tut {
  background-color: darkviolet !important;
}

.recess {
  background-color: #005F61 !important;
}
