td {
  vertical-align: middle;
}

.dwec {
  background-color: darkgoldenrod !important;
}

.dwes {
  background-color: darkblue !important;
}

.diw {
  background-color: darkgreen !important;
}

.daw {
  background-color: darkred !important;
}

.eie {
  background-color: darkgray !important;
}

.ang {
  background-color: darkcyan !important;
}

.tut {
  background-color: darkviolet !important;
}

.recess {
  background-color: darkturquoise !important;
}
